.container{
    width: 575px;
    height: 825px;

    background-color: aliceblue;
    padding-left: 30px;
}
#height,#weight{
    width: 125px;
    height: 25px;
    margin-top: 30px;
}

#weight-guide{
    margin-top: 25px;
    margin-left: 75px;
}
button{
    width: 150px;
    height: 35px;
    margin-left: 90px;
    margin-top: 25px;
    background-color: #fff;
    padding: 1px 10px;
    border-radius: 10px;
    color: black;
    text-decoration: none;
    border: 2px solid black;
    font-size: 25px;
}
h1{
    padding-left: 15px;
    padding-top: 25px;
}